<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View All Crops</title>
  </head>
  <body>
    <% crops.forEach(crop => { %>
    <h1><%= crop.name %></h1>
    <% }) %>
  </body>
</html>
