<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View All Crops</title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <% if (crops) { %> <% crops.forEach(crop => { %>
    <h1 class="text-red-400 text-4xl"><%= crop.name %></h1>
    <% }) %> <% } else { %>
    <h1>No Crop Found</h1>
    <% } %>
  </body>
</html>
