<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <a href="/test">Test</a>
    <% availableCrops.crops.forEach((crop) => { %>
    <p><%= crop.id %></p>
    <p><%= crop.crop_type %></p>
    <p><%= crop.price %></p>
    <% }) %>
  </body>
</html>
