<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>New Crop</h1>
    <form action="/crop" method="POST">
      <input type="text" name="name" id="name" required />
      <br />
      <input type="number" name="price" id="price" required />
      <hr />
      <button type="submit" id="submit-btn">Submit</button>
    </form>
  </body>
</html>
<script>
  // let btn = document.getElementById("submit-btn");

  // btn.addEventListener("click", async function (e) {
  //   e.preventDefault();
  //   let cropName = document.getElementById("name").value;
  //   let cropPrice = document.getElementById("price").value;
  //   let information = { name: cropName, price: cropPrice };
  //   console.log(information);
  //   const res = await fetch("/crop", {
  //     Method: "POST",
  //     Headers: {
  //       "Content-Type": "application/json",
  //     },
  //     Body: information,
  //   }).then((data) => console.log(data));
  // });
</script>
